@using BenOrigas.com.Models
@model BenOrigas.com.Models.Profile
@{
    ViewBag.Title = "Ben Origas' Resume";
}
<script type="text/javascript">
    $(function () {
        //        $(function () {
        //            $("#tabs").tabs({
        //                cookie: {
        //                    expires: 30
        //                }
        //            });
        //        });
        $('.category').click(function () {
            //$("#categories").accordion();
            $(this).next().toggle('slow');
            //            //$.scrollTo($(this).parent(), 800);
            return false;
        }); //.next().hide();
    });

</script>
<div>
    <div id="tabs">
        <div id="contact">
            <h2>@Model.Name</h2>
            @Model.Address<br />
            @Model.City @Model.State @Model.Zip<br />
            @Model.Phone<br />
            <a href="mailto:@Model.Email">@Model.Email</a><br />
            <a href="@Model.Website">@Model.Website</a>
        </div>
        @foreach (var category in Model.ExperienceCategories)
        { 
            <div id="categories">
                <div id="@category.CategoryName.ToCssString()" class="category">
                    <br />
                    <h2><a href="#">@category.CategoryName</a></h2>
                    <hr />
                </div>
                <div>
                    @foreach (var experience in category.Experiences)
                    {
                        <div>
                            <h5>@experience.Title</h5>
                            <span class="date">@experience.DateRange</span>
                            @foreach (var company in experience.Details)
                            {
                                string companyHtml = string.Empty;
                                if (company.Website != null && company.Website.Length > 0)
                                {
                                    companyHtml += string.Format("<a href=\"{0}\">{1}</a>", company.Website, company.Name);
                                }
                                else
                                {
                                    companyHtml += @company.Name;
                                }
                                if (company.Location != null && company.Location.Length > 0)
                                {
                                    companyHtml += string.Format(", {0}", company.Location);
                                }
                                @MvcHtmlString.Create(companyHtml);
                                <br />
                            }
                            @if (experience.Bullets != null && experience.Bullets.Count > 0)
                            {
                                <ul class="disc">
                                    @foreach (var bullet in experience.Bullets)
                                    {
                                        <li>@bullet.Bullet</li>
                                       if (bullet.SubBullets != null && bullet.SubBullets.Count > 0)
                                       {
                                        <ul class="circle">
                                            @foreach (var subBullet in bullet.SubBullets)
                                            { 
                                                <li>@subBullet</li>
                                            }
                                        </ul>
                                       }
                                    }
                                </ul>
                            }
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
